@import "../../../node_modules/@chatscope/chat-ui-kit-styles/themes/default/variables";$main-container-border: 0;
$main-container-border: 0;
$color-text: red;
$conversation-bg-color: #7F3BA3;
$conversation-name-color: #FFFFFF;
$conversation-hover-bg-color: #000000;
